@import "reset.scss";
@import "animations.scss";

$main-color: red;
$night-sky: #000821;
$stars: #fffcef;

body {
  background-color: $night-sky;
}

p {
  color: $main-color;
}

.star {
  width: 4px;
  height: 4px;
  background-color: $stars;
  border-radius: 100%;
  margin: 50vh 50vw;
  display: inline-block;
  animation: slidein 1s linear;
  // animation-iteration-count: infinite;
}

/*Animation Considerations:
- Stars must start small and get larger as they reach the edge of the page
- they must repeat (so once it reaches the edge of the frame it starts back at the beginning)
- Randomly select an angle for each star to move out at

*/
